body {
  min-width: 1000px;
  min-height: 200px;
  margin: 0px;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: "Inter";
  src: url("../../font/Inter-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}


.user-image {
  position: fixed;
  width: 96px;
  height: 31px;
  top: 0.9%;
  left: 92%;
}

.userNameText {
  position: fixed;
  top: 1.2%;
  left: 93.7%;
}

.nav-item-separator {
  display: flex;
  align-items: center;
}

.nav-item-separator .dot {
  width: 10px;
  height: 10px;
  background: #ffffff;
  margin: 0 5px;
  border-radius: 50%;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
}

.navbar {
  width: 100%;
  height: 90px;
  overflow: hidden;
  display: flex;
  padding: 0rem 0rem !important;
  background-color: #ececec;
}

.nav-item-separator {
  position: relative;
  display: flex;
  align-items: center;
}

.nav-list {
  margin-top: -15px;
  list-style: none;
  margin: 0;
  padding: 24px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  box-sizing: border-box;
  align-items: center;
  border-bottom: 2px solid #d9d9d9;
}

.nav-button {
  display: flex;
  align-items: center;
  position: relative;
  width: 185px;
  height: 40px;
  border-radius: 10px;
  background: #f8f9fa;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
  transition: all 0.3s;
  overflow: hidden;
  margin-right: 2%;
  margin-left: 2%;
}

.button-text {
  color: #a4a4a4;
  font-size: 15px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  position: absolute;
  top: 27%;
  left: 105px;
  transform: translateX(-50%);
  max-width: calc(100% - 40px);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.button-icon {
  margin-right: 10px;
  position: absolute;
  left: 14px;
  top: 45%;
  transform: translateY(-50%);
  width: 14px;
  height: 19px;
  fill: #a4a4a4;
}

.nav-button:hover {
  background: #f8f9fa;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.4);
}
.nav-button:hover .button-icon {
  fill: #6097d9;
}
.nav-button:hover .button-text {
  color: #6097d9;
}

.nav-button:active {
  background: #6097d9;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
}
.nav-button:active .button-icon {
  fill: #ffffff;
}
.nav-button:active .button-text {
  color: #ffffff;
}

/*------------------------overview--------------------------------------------------*/

.nav-button-Overview_page {
  background: #6097d9;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  width: 185px;
  height: 40px;
  max-width: 100%;
  border-radius: 10px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
  transition: all 0.3s;
  overflow: hidden;
  margin-left: 2%;
  margin-right: 2%;
}

.nav-button-Overview_page .button-text-Overview_page {
  color: #ffffff;
  font-size: 15px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  position: absolute;
  top: 27%;
  left: 105px;
  transform: translateX(-50%);
  max-width: calc(100% - 40px);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.nav-button-Overview_page .button-icon-Overview_page {
  fill: #ffffff;
  margin-right: 10px;
  position: absolute;
  left: 14px;
  top: 44%;
  transform: translateY(-50%);
  width: 14px;
  height: 19px;
  left: 10px;
}

.nav-button-Overview_page:hover {
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.4);
}

.nav-button-Overview_page:active {
  background: #ffffff;
}
.nav-button-Overview_page:active .button-icon-Overview_page {
  fill: #0075ff;
}
.nav-button-Overview_page:active .button-text-Overview_page {
  color: #0075ff;
}

.container {
  position: absolute;
  width: 1770px;
  height: 680px;
  top: 280px;
  left: 75px;

  transform: translate(0%, -30%);
  background-color: #f9f9f9;
  border-radius: 5px;
  box-shadow: 4px 4px 6px #00000040;
}

.overviewbackground {
  background-color: #f4f5f9 !important;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  height: 82%;
  top: 171px;
  position: absolute;
}

.overviewTitle {
  position: absolute;
  top: 202px;
  left: 75px;

  font-family: "Inter", Helvetica;
  font-weight: 800;
  color: #353535;
  position: fixed;
  font-size: 26px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.form-group {
  margin-bottom: 20px;
  padding-left: 28px;
}

.project_name {
  position: absolute;
  top: 30px;
  font-family: "Inter", Helvetica;
  font-weight: 500;
  color: #353535;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

#project_name {
  position: absolute;
  top: 60px;
  width: 1714px;
  height: 50px;
  border-radius: 5px;
  border: 1px solid;
  border-color: #9b9b9b;
  font-size: 20px;
  padding-left: 10px;
}

.project_description {
  position: absolute;
  top: 130px;
  font-family: "Inter", Helvetica;
  font-weight: 500;
  color: #353535;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

#project_description {
  position: absolute;
  width: 1714px;
  height: 180px;
  top: 160px;
  border-radius: 5px;
  border: 1px solid;
  border-color: #9b9b9b;
  font-size: 20px;
  padding-left: 10px;
}

.project_category {
  position: absolute;
  top: 360px;
  font-family: "Inter", Helvetica;
  font-weight: 500;
  color: #353535;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

#project_category {
  position: absolute;
  width: 1714px;
  height: 50px;
  top: 390px;
  border-radius: 5px;
  border: 1px solid;
  border-color: #9b9b9b;
  font-size: 20px;
  padding-left: 10px;
}

.categoryAddBtn {
  font-family: Inter;
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: center;

  display: inline-block;
  position: absolute;
  top: 450px;
  left: 28px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
  min-width: 130px;

  width: 130px;
  height: 30px;
  border-radius: 5px;
  background: #3a6ca9;
  color: white;
  border: none;
}

.categoryDeleteBtn {
  font-family: Inter;
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: center;

  display: inline-block;
  position: absolute;
  top: 450px;
  left: 168px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
  min-width: 130px;

  width: 130px;
  height: 30px;
  border-radius: 5px;
  background: #eaeaea;
  color: #3a6ca9;
  border: none;
}
.project_tag {
  position: absolute;
  top: 480px;
  font-family: "Inter", Helvetica;
  font-weight: 500;
  color: #353535;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

#project_tag {
  position: absolute;
  width: 1714px;
  height: 50px;
  top: 510px;
  border-radius: 5px;
  border: 1px solid;
  border-color: #9b9b9b;
  font-size: 20px;
  padding-left: 10px;
}

.btn.btn-primary {
  position: absolute;
  top: 610px;
  left: 1622px;
  background-color: #6097d9;
  border-radius: 5px;
  font-family: "Inter", Helvetica;
  font-weight: 500;
  color: #ffffff;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
  width: 120px;
  height: 40px;
  border-radius: 5px;
  border: none;
}
.btn.btn-primary:hover {
  background-color: #2e5686;
}

#input-container {
  position: relative;
}
#output-container {
  position: absolute;
  top: 520px;
  left: 40px;
}

.tag-div {
  font-family: "Inter";
  font-size: 1rem;
  display: inline-flex;
  align-items: center;
  height: 2rem;
  border-radius: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  background: #2e5686; /* 임의의 색상 */
  color: rgb(255, 255, 255); /* 임의의 색상 */
  margin-right: 0.75rem;
  transition: all 0.125s ease-in 0s;
  cursor: pointer;
  margin-bottom: 0.75rem;
  animation: 0.125s ease-in-out 0s 1 normal forwards running lnHDaM;
}

@keyframes fadeIn {
  0% {
    opacity: 0.7;
    transform: scale3d(0.8, 0.8, 1);
  }
  100% {
    opacity: 1;
    transform: scale3d(1, 1, 1);
  }
}
