/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Font Styles */
@font-face {
  font-family: "Inter Extra Bold";
  src: url("/static/font/Inter-ExtraBold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Inter Extra Light";
  src: url("/static/font/Inter-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}


.user-image {
  position: fixed;
  width: 96px;
  height: 31px;
  top: 0.9%;
  left: 92%;
}

.userNameText {
  position: fixed;
  top: 1.2%;
  left: 93.7%;
}

.nav-item-separator {
  display: flex;
  align-items: center;
}

.nav-item-separator .dot {
  width: 10px;
  height: 10px;
  background: #ffffff;
  margin: 0 5px;
  border-radius: 50%;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
}

.navbar {
  width: 100%;
  height: 90px;
  overflow: hidden;
  display: flex;
  padding: 0rem 0rem !important;
  background-color: #ececec;
}

.nav-item-separator {
  position: relative;
  display: flex;
  align-items: center;
}

.nav-list {
  margin-top: -15px;
  list-style: none;
  margin: 0;
  padding: 24px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  box-sizing: border-box;
  align-items: center;
  border-bottom: 2px solid #d9d9d9;
}

.nav-button {
  display: flex;
  align-items: center;
  position: relative;
  width: 185px;
  height: 40px;
  border-radius: 10px;
  background: #f8f9fa;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
  transition: all 0.3s;
  overflow: hidden;
  margin-right: 2%;
  margin-left: 2%;
}

.button-text {
  color: #a4a4a4;
  font-size: 15px;
  font-family: "Inter Extra Light";
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  position: absolute;
  top: 27%;
  left: 105px;
  transform: translateX(-50%);
  max-width: calc(100% - 40px);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.button-icon {
  margin-right: 10px;
  position: absolute;
  left: 14px;
  top: 45%;
  transform: translateY(-50%);
  width: 14px;
  height: 19px;
  fill: #a4a4a4;
}

.nav-button:hover {
  background: #f8f9fa;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.4);
}
.nav-button:hover .button-icon {
  fill: #6097d9;
}
.nav-button:hover .button-text {
  color: #6097d9;
}

.nav-button:active {
  background: #6097d9;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
}
.nav-button:active .button-icon {
  fill: #ffffff;
}
.nav-button:active .button-text {
  color: #ffffff;
}

/*------------------------overview--------------------------------------------------*/

.nav-button-Overview_page {
  background: #6097d9;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  width: 185px;
  height: 40px;
  max-width: 100%;
  border-radius: 10px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
  transition: all 0.3s;
  overflow: hidden;
  margin-left: 2%;
  margin-right: 2%;
}

.nav-button-Overview_page .button-text-Overview_page {
  color: #ffffff;
  font-size: 15px;
  font-family: "Inter Extra Light";
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  position: absolute;
  top: 27%;
  left: 105px;
  transform: translateX(-50%);
  max-width: calc(100% - 40px);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.nav-button-Overview_page .button-icon-Overview_page {
  fill: #ffffff;
  margin-right: 10px;
  position: absolute;
  left: 14px;
  top: 44%;
  transform: translateY(-50%);
  width: 14px;
  height: 19px;
  left: 10px;
}

.nav-button-Overview_page:hover {
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.4);
}

.nav-button-Overview_page:active {
  background: #ffffff;
}
.nav-button-Overview_page:active .button-icon-Overview_page {
  fill: #0075ff;
}
.nav-button-Overview_page:active .button-text-Overview_page {
  color: #0075ff;
}

.container {
  position: fixed;
  width: 91%;
  height: 67%;
  top: 58%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #f9f9f9;
  border-radius: 5px;
  box-shadow: 4px 4px 6px #00000040;
}

.overviewbackground {
  background-color: #f4f5f9 !important;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  height: 80%;
  position: absolute;
}

.createProject h2 {
  position: fixed;
  top: 18%;
  left: 20.5%;
  font-family: "Inter-ExtraBold", Helvetica;
  font-weight: 800;
  color: #353535;
  font-size: 30px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.form-group {
  margin-bottom: 20px;
}

.project_name {
  position: fixed;
  top: 4%;
  left: 2%;
  right: 2%;
  font-family: "Inter-Medium", Helvetica;
  font-weight: 500;
  color: #353535;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

#project_name {
  position: fixed;
  width: 96%;
  height: 7%;
  top: 9%;
  left: 2%;
  right: 2%;
  border-radius: 5px;
  border: 1px solid;
  border-color: #9b9b9b;
  font-size: 20px;
  padding-left: 10px;
}

.project_description {
  position: fixed;
  top: 22%;
  left: 2%;
  right: 2%;
  font-family: "Inter-Medium", Helvetica;
  font-weight: 500;
  color: #353535;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

#project_description {
  position: fixed;
  width: 96%;
  height: 29%;
  top: 28%;
  left: 2%;
  right: 2%;
  border-radius: 5px;
  border: 1px solid;
  border-color: #9b9b9b;
  font-size: 20px;
  padding-left: 10px;
}

.project_category {
  position: fixed;
  top: 62%;
  left: 2%;
  right: 2%;
  font-family: "Inter-Medium", Helvetica;
  font-weight: 500;
  color: #353535;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

#project_category {
  position: fixed;
  width: 96%;
  height: 7%;
  top: 68%;
  left: 2%;
  right: 2%;
  border-radius: 5px;
  border: 1px solid;
  border-color: #9b9b9b;
  font-size: 20px;
  padding-left: 10px;
}

.btn.btn-primary {
  position: fixed;
  width: 120px;
  height: 40px;
  background-color: #6097d9;
  border-radius: 5px;

  top: 87%;
  left: 86%;
  font-family: "Inter-Medium", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}
.btn.btn-primary:hover {
  background-color: #2e5686;
}
