body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    }

    .main-content {
    width: 100%;
    float: left;
    height: 100%;
    overflow: auto;
    }
    
    .sub-content {
    width: 30%;
    float: left;
    height: 100%;
    background-color: #f0f0f0;
    border: 1px solid #ddd;
    padding: 10px;
    overflow: auto;
    }
    .sub-content1 {
    width: 70%;
    float: left;
    height: 100%;
    background-color: #f0f0f0;
    border: 1px solid #ddd;
    padding: 10px;
    overflow: auto;
    }


        /* Webkit 스크롤바 */
::-webkit-scrollbar {
    width: 7px; /* 스크롤바의 너비 */
    height: 7px;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #D9D9D9; /* 스크롤바 색상 */
    border-radius: 6px; /* 스크롤바 모서리 둥글게 */
  }
  
  ::-webkit-scrollbar-track {
    background-color: #ffffff; /* 스크롤바 트랙 색상 */
  }