/* Font Styles */
@font-face {
  font-family: "Inter Extra Bold";
  src: url("../../font/Inter-ExtraBold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Inter Extra Light";
  src: url("../../font/Inter-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Inter Medium";
  src: url("../../font/Inter-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@media (max-width: 768px) {
  .projectListCreateBtn {
    display: none; /* 창의 너비가 768px 이하일 때 버튼 숨김 */
  }
}
.container {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 84px);
  background-color: #f4f5f9;
}

.tableTitleArea {
  display: flex;
  align-items: flex-end;
  width: 100%;
  height: 100px;
}

.projectListTitle {
  font-family: Inter;
  font-size: 30px;
  font-weight: 800;
  line-height: 36px;
  letter-spacing: 0em;
  text-align: left;
  margin-left: 75px;
  width: 1614px;
}

.tableArea {
  flex: 1;
  overflow: auto;
}

.projectListCreateBtn {
  width: 156px;
  height: 32px;
  border-radius: 5px;
  color: white;
  text-decoration: none;
  background-color: #2e5686;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: center;
}

.user-image {
  position: fixed;
  width: 96px;
  height: 31px;
  top: 0.9%;
  left: 92%;
}

.userNameText {
  position: fixed;
  /* width: 96px;
    height: 31px; */
  top: 1.2%;
  left: 93.7%;
  /* margin-left: 10px;  */
}

.page-link {
  position: relative;
  display: block;
  padding: 0.5rem 0.75rem;
  margin-left: -1px;
  line-height: 1.25;
  color: #2e5686;
  background-color: #fff;
  border: 1px solid #dee2e6;
}
.page-item.active .page-link {
  z-index: 1;
  color: #fff;
  background-color: #2e5686;
  border-color: #2e5686;
}

/* Webkit 스크롤바 */
::-webkit-scrollbar {
  width: 7px; /* 스크롤바의 너비 */
  height: 7px;
}

::-webkit-scrollbar-thumb {
  background-color: #d9d9d9; /* 스크롤바 색상 */
  border-radius: 6px; /* 스크롤바 모서리 둥글게 */
}

::-webkit-scrollbar-track {
  background-color: #ffffff; /* 스크롤바 트랙 색상 */
}
.projectListTable {
  margin-top: 20px;
  width: 1770px;
  border-radius: 5px;
  margin-left: 75px;
  border-collapse: collapse;
  background-color: #fafafa;
  box-shadow: 4px 4px 6px 0px #00000040;
}

.projectListTableHead {
  height: 58px;
}
.projectListTableHead th {
  border-bottom: 1px solid #737373;

  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
}
.projectListTableBody td {
  height: 64px;
  border-bottom: 1px solid #c5c5c5;
}

.img-checkbox {
  margin-right: 8px;
  margin-top: -4px;
  margin-left: 20px;
}
.projectListOpenBtn {
  width: 80px;
  height: 36px;
  border-radius: 5px;
  background: #2d3a8a;
  color: white;
  border: none;
}
