form {
  color: #848484;
}

label {
  color: #848484;
}

.text-danger {
  color: #848484;
}
input[type="text"],
input[type="password"],
input[type="date"],
input[type="email"],
select {
  height: 40px;
  width: 387px;
}
#signupButton {
  margin-top: 15px;
  width: 387px;
  height: 45px;
  top: 765px;
  padding: 10px, 167px, 10px, 167px;
  border-radius: 999px;
  gap: 10px;
  background: #557ba9;
}
#cancelButton {
  margin-top: 5px;
  width: 387px;
  height: 45px;
  top: 765px;
  padding: 10px, 167px, 10px, 167px;
  border-radius: 999px;
  gap: 10px;
}
.container,
.container-sm {
  max-width: 400px;
}
