.container {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 84px);
  background-color: #f4f5f9;
}
.tableTitleArea {
  display: flex;
  align-items: flex-end;
  width: 100%;
  height: 100px;
}
.projectListTitle {
  font-family: Inter;
  font-size: 30px;
  font-weight: 800;
  line-height: 36px;
  letter-spacing: 0em;
  text-align: left;
  margin-left: 75px;
  width: 1614px;
}
.projectListTable {
  margin-top: 20px;
  width: 1770px;
  border-radius: 5px;
  margin-left: 75px;
  border-collapse: collapse;
  background-color: #fafafa;
  box-shadow: 4px 4px 6px 0px #00000040;
}
.projectListTableHead {
  height: 58px;
}
.projectListTableHead th {
  border-bottom: 1px solid #737373;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
}
.projectListTableHead th {
  border-bottom: 1px solid #737373;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
}
.projectListTableBody td {
  height: 64px;
  border-bottom: 1px solid #c5c5c5;
}
.img-checkbox {
  margin-right: 8px;
  margin-top: -4px;
  margin-left: 20px;
}
.projectListOpenBtn {
  width: 80px;
  height: 36px;
  border-radius: 5px;
  background: #2d3a8a;
  color: white;
  border: none;
}
button {
  padding: 7px 20px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
  background-color: #8cb2e0;
  color: #fff;
}

.action-button {
  background-color: #4caf50;
  color: #fff;
  margin-bottom: 10px;
}

.save-close-button {
  background-color: #8cb2e0;
  color: #fff;
  float: right;
  margin-right: 10px;
  margin-top: 14%;
}
.popup {
  width: 400px;
  height: 303px;
  border-radius: 5px;
  box-shadow: 4px 4px 8px 0px #00000040;
}
.popupTitle {
  width: 400px;
  height: 40px;
  border-radius: 5px, 5px, 0px, 0px;
  background: #e8f3ff;
}
.popupTitle-1 {
  position: absolute;
  width: 64px;
  height: 19px;
  top: 11px;
  left: 16px;

  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
}
.close {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 6px;
  left: 370px;
}

.popupContent {
  width: 368px;
  height: 209px;
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: left;
  padding-left: 16px;
  padding-right: 16px;
}
.popupBottom {
  width: 400px;
  height: 60px;
}

.groupManagementLabel {
  position: absolute;
  top: 64px;
  left: 16px;
}
.groupManagementSelect {
  position: absolute;
  width: 368px;
  height: 30px;
  top: 89px;
  left: 16px;
  border-radius: 5px;
  border: 1px solid #e4e4e4;
}
.accountActiveLabel {
  position: absolute;
  width: 69px;
  height: 17px;
  top: 180px;
  left: 16px;
}
.accountActiveToggle {
  position: absolute;
  width: 46px;
  height: 20px;
  top: 179px;
  left: 338px;
  border-radius: 999px;
  background-color: #3a6ca9;
}

.switch input {
  display: none;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 17px;
  width: 17px;
  left: 3px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #3a6ca9;
}

input:focus + .slider {
  box-shadow: 0 0 1px #3a6ca9;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* 원 슬라이더 스타일링 */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
.addGroupBtn,
.deleteGroupBtn {
  padding: 0%;
  font-family: Inter;
  font-size: 12px;
  font-weight: 700;
  line-height: 15px;
  letter-spacing: 0em;
  text-align: left;
  text-align: center;
}
.addGroupBtn {
  position: absolute;
  width: 40px;
  height: 20px;
  top: 128px;
  left: 344px;
  border-radius: 5px;
  background: #3a6ca9;
  color: white;
}
.deleteGroupBtn {
  position: absolute;
  width: 40px;
  height: 20px;
  top: 128px;
  left: 298px;
  border-radius: 5px;
  background: #6f6f6f;
  color: white;
}
.img-contour1 {
  position: absolute;
  top: 164px;
  left: 16px;
}
.img-contour2 {
  position: absolute;
  top: 213px;
  left: 16px;
}
.popupSaveBtn,
.popupCancelBtn {
  width: 80px;
  height: 30px;
  border-radius: 5px;
}
.popupSaveBtn {
  position: absolute;
  top: 243px;
  left: 304px;
  background: #2e5686;
  color: #ffffff;
}
.popupCancelBtn {
  position: absolute;
  top: 243px;
  left: 223px;
  color: #2e5686;
  background: #ffffff;
}
