<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Find ID</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='css/styles/forgetid.css')}}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='css/styles/title.css')}}"
    />
    <script
      type="text/javascript"
      src="{{ url_for('static', filename='js/forgetid.js')}}"
    ></script>
  </head>
  <body style="margin: 0px">
    <div id="title" class="title">
      <h2><a class="home" href="/">EdgeCPS Service Modeler</a></h2>
    </div>
    <div class="findIdArea">
      <div class="findIdTitle">아이디 찾기</div>
      <div class="findIdExplain">
        회원정보에 등록된 이름과 이메일을 입력해주세요.
      </div>
      <form id="infoForm" class="findIdForm">
        <div class="form-group">
          <label for="name" class="label nameInputLabel">Name</label><br />
          <input
            type="text"
            class="form-control input"
            id="name"
            name="name"
            required
          /><br />
          <small id="nameError" class="text-danger errorText"></small>
        </div>
        <div class="form-group">
          <label for="email" class="label emailInputLabel">Email</label><br />
          <input
            type="email"
            class="form-control input"
            id="email"
            name="email"
            required
          /><br />
          <small id="emailError" class="text-danger errorText"></small>
        </div>
        <button type="button" class="btn btn-primary findIdBtn" id="confirmBtn">
          Confirm</button
        ><br />
        <button
          class="btn btn-secondary"
          id="cancelButton"
          onclick="location.href='/';"
        >
          Cancel
        </button>
      </form>
      <div id="errorContainer"></div>
    </div>
  </body>
</html>

<!-- <div>
      <h1>아이디 찾기</h1>
      <div>회원정보에 등록된 이름과 이메일을 입력해주세요.</div>
    
    </div> -->
<script>
  document.addEventListener("DOMContentLoaded", function () {
    const confirmBtn = document.getElementById("confirmBtn");
    const errorContainer = document.getElementById("errorContainer");

    //아이디 찾을 시 이름과 이메일 입력이 저장된 내용과 일치 할 경우 아이디를 알려주는 기능 효정
    confirmBtn.addEventListener("click", function () {
      const name = document.getElementById("name").value;
      const email = document.getElementById("email").value;

      nameError.textContent = "";
      emailError.textContent = "";

      if (name === "") {
        nameError.textContent = "Name is required.";
        hasError = true;
      }

      if (email === "") {
        emailError.textContent = "Email is required.";
        hasError = true;
      } else {
        fetch("/findUserId", {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify({ name, email }),
        })
          .then((response) => response.json())
          .then((data) => {
            if (data.error) {
              alert("아이디 찾기 오류가 발생 했습니다");
              location.replace("/");
            } else if (data.exists) {
              alert("찾으시는 아이디는 " + data.userId + "입니다.");
              location.replace("/");
            } else if (!data.exists) {
              alert("정보가 존재하지 않습니다.");
            }
          });
      }
    });

    function showError(errorMessage) {
      const errorDiv = document.createElement("div");
      errorDiv.classList.add("alert", "alert-danger");
      errorDiv.textContent = errorMessage;
      errorContainer.innerHTML = ""; // 기존 에러 메시지 초기화
      errorContainer.appendChild(errorDiv);
    }
  });
</script>
