<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css"
 href="{{ url_for('static', filename='css/styles/process.css')}}"/>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <style>
      body {
        min-width: 1000px; /* 최소 폭 지정 */
        min-height: 200px; /* 최소 높이 지정 */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;
        margin: 0;
      }

        @font-face {
          font-family: "Roboto";
          src: url("../static/font/Roboto-Medium.ttf") format("truetype");
          font-weight: normal;
          font-style: normal;
        }
      @font-face {
          font-family: "Inter";
          src: url("../static/font/Inter-Thin.ttf") format("truetype");
          font-weight: normal;
          font-style: normal;
        }
    </style>
</head>
<body>

    <div class="container">
      <div class="row" style = "border-radius: 5px; background: #FFF; box-shadow: 20px 20px 40px 0px rgba(0, 0, 0, 0.25);">
        <div class="col-md-6" style="position: relative; left: -1%;">
          <img src="{{url_for('static', filename='/image/login.svg')}}" alt="Image" class="img-fluid" />
          <div style="
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            text-align: center;
          ">
            <p style="
              color: white;
              font-family: Roboto;
              font-size: 24px;
              font-weight: 400;
              line-height: 30px;
              letter-spacing: 0.05em;
              text-align: left;
              margin: 0;
            ">Nice to meet you again</p>
              <p style="
              color: white;
              font-family: Roboto;
              font-size: 45px;
              font-weight: 500;
              line-height: 59px;
              letter-spacing: 0.00em;
              margin: 0;
              margin-top: 5px;
              width: 118%;
              margin-left: -28px;

            ">Welcome Back!</p>
              <img src="{{url_for('static', filename='/image/a.svg')}}" alt="Image" class="img-fluid" />
              <p style="
              color: white;
              font-family: Inter;
              font-size: 24px;
              font-weight: 600;
              line-height: 28px;
              letter-spacing: 0em;
              text-align: center;
              margin-top: 4px;
            ">EdgeCPS</p>
          </div>
        </div>
        <div class="col-md-6">
          <h1
            style="
              color: #6097D9;
              font-family: Roboto;
              font-size: 36px;
              font-weight: 800;
              line-height: 42px;
              letter-spacing: 0em;
              text-align: center;
              padding: 40px;
              margin-top: 61px;
            "
          >
            Login Account
          </h1>
          <form method="POST" action="/">
            <div class="form-group">
              <label
                for="username"
                style="
                  color: #848484;
                  font-family: Roboto;
                  font-size: 16px;
                  font-weight: 400;
                  line-height: 19px;
                  letter-spacing: 0em;
                  text-align: left;

                "
                >User Name</label
              >
              <input
                type="text"
                class="form-control"
                id="username"
                name="username"
                required
                style="height: 40px; width: 95%; background: #f1f1f1; outline: none "
              />
              <small id="usernameError" class="text-danger"></small>
            </div>
            <div class="form-group">
              <label
                for="password"
                style="
                  color: #848484;
                  font-family: Roboto;
                  font-size: 16px;
                  font-weight: 400;
                  line-height: 19px;
                  letter-spacing: 0em;
                  text-align: left;
                "
                >Password</label
              >
              <input
                type="password"
                class="form-control"
                id="password"
                name="password"
                required
                style="height: 40px;width: 95%; background: #f1f1f1; outline: none"
              />
              <small id="passwordError" class="text-danger"></small>
            </div>
            <div style="padding-bottom: 40px">
              <a
                href="{{ url_for('forgetid') }}"
                style="float: left; color: #c7c7c7"
                >Forget Id?</a
              >
              <a
                href="{{ url_for('forgetpw') }}"
                style="float: right; margin-right: 24px; color: #c7c7c7"
                >Forget Password?</a
              ><br />
            </div>

            <button
              type="submit"
              class="btn btn-primary"
              id="confirmBtn"
              style="
                background: #6097D9;
                width: 94%;
                height: 45px;
                padding: 10px, 167px, 10px, 167px;
                border-radius: 999px;
                gap: 10px;
              "
            >
              Login</button
            ><br /><br />
            {% if login_msg %}
            <div class="alert alert-danger">{{ login_msg }}</div>
            {% endif %}
            <div style="padding-top: 71px;margin-left: 10px; color: #c7c7c7">
              New User? <a href="{{ url_for('signup') }}" style="color:#3853FF;
              ;">Signup</a>
            </div>
          </form>
        </div>
    </div>

    <!-- 부트스트랩 JS 및 jQuery 링크 추가 -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <script>
      document.addEventListener("DOMContentLoaded", function () {
        const confirmBtn = document.getElementById("confirmBtn");
        const usernameError = document.getElementById("usernameError");
        const passwordError = document.getElementById("passwordError");

        confirmBtn.addEventListener("click", function () {
          const password = document.getElementById("password").value;
          const username = document.getElementById("username").value;

          passwordError.textContent = "";
          usernameError.textContent = "";

          let hasError = false;

          if (password === "") {
            passwordError.textContent = "Password is required.";
            hasError = true;
          }
          if (username === "") {
            usernameError.textContent = "ID is required.";
            hasError = true;
          }
        });

        function showError(errorMessage) {
          const errorDiv = document.createElement("div");
          errorDiv.classList.add("alert", "alert-danger");
          errorDiv.textContent = errorMessage;
          document.querySelector(".container").appendChild(errorDiv);
        }
      });
    </script>
  </body>
</html>
<style>



</style>
