<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>회원 관리</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='css/styles/managemenetUser.css')}}"
    />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    />
    <script
      type="text/javascript"
      src="{{ url_for('static', filename='js/userManagement.js')}}"
    ></script>
  </head>
  <body>
    <div id="title" class="title">
      <h2><a class="home" href="">EdgeCPS</a></h2>
      <div class="userInfo">
        <button class="user-name" id="user-name">
          {{ session['userId'] }}
        </button>
        <div class="modal" id="userInfoModal">
          <div class="usermodal-content">
            <span class="close" id="closeModal">&times;</span>
            <h2>내 정보</h2>
            <p>아이디 : {{userIds}}</p>
            <p>이름 : {{userName}}</p>
            <p>이메일 : {{userEmail}}</p>
            <p>소속 : {{userGroup}}</p>
            {% if userAdmin == 1 %}
            <a class="nav-link" href="{{ url_for('management_user') }}"
              >회원 관리</a
            >
            {% endif %}
            <a class="nav-link" href="{{ url_for('logout') }}">로그아웃</a>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div style="float: right">
        <div
          class="nav-links d-flex justify-content-between align-items-center mt-3"
        ></div>
      </div>

      <div>
        <h2 class="mt-5">회원 관리</h2>
      </div>

      <table class="table table-striped">
        <thead>
          <tr style="text-align: center">
            <th>INDEX</th>
            <th>아이디</th>
            <th>아름</th>
            <th>비밀번호</th>
            <th>이메일</th>
            <th>소속</th>
            <th>관리</th>
          </tr>
        </thead>
        <tbody>
          {% for project in projects %}
          <tr style="text-align: center">
            <td>{{ project.id }}</td>
            <td>{{ project.name }}</td>
            <td>{{ project.user }}</td>
            <td>{{ project.user_pwd }}</td>
            <td>{{ project.user_email }}</td>
            <td>{{ project.group_index }}</td>
            <td>
              <button
                style="width: 80px; border-radius: 5px"
                type="button"
                onclick="showPopup(this)"
                data-group="{{ project.group_index }}"
                data-valid="{{ project.vaild }}"
                data-user="{{ project.id }}"
              >
                관리
              </button>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      <div id="popupContainer" class="popup-container" style="display: none">
        <div id="popup" class="popup">
          <div class="center-content">
            <div class="row">
              <div class="col-md-6">
                <label for="group">소속 관리</label>
                <select class="form-control" id="group" name="group" required>
                  <option value="" disabled selected></option>
                  <option value="111">tmp</option>
                  <option value="999">admin</option>
                </select>
              </div>
              <div class="col-md-6">
                <label for="toggleSwitch">활성화 여부</label>
                <label class="switch">
                  <input
                    type="checkbox"
                    id="toggleSwitch"
                    onclick="togglePopup()"
                  />
                  <span class="slider round"></span>
                </label>
              </div>
            </div>
            <button
              type="button"
              style="margin-top: 100px; float: right"
              onclick="saveInfo()"
            >
              저장
            </button>
            <button
              type="button"
              style="margin-top: 100px; float: right"
              onclick="closePopup()"
            >
              닫기
            </button>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
<script>
  // "관리" 버튼을 클릭했을 때 팝업을 표시하는 함수
  let currentUser = null;
  function showPopup(button) {
    const popupContainer = document.getElementById("popupContainer");
    const popup = document.getElementById("popup");
    popupContainer.style.display = "block";
    popup.style.width = "500px"; // 가로 크기 조절
    popup.style.height = "500px"; // 세로 크기 조절

    const group = button.getAttribute("data-group");
    const groupSelect = document.getElementById("group");
    if (group === "111") {
      // "tmp" 옵션을 선택합니다.
      groupSelect.value = "111";
    } else if (group === "999") {
      // "admin" 옵션을 선택합니다.
      groupSelect.value = "999";
    }

    const valid = button.getAttribute("data-valid");
    if (valid === "1") {
      toggleSwitch.checked = true;
    } else {
      toggleSwitch.checked = false;
    }

    const user = button.getAttribute("data-user");
    currentUser = user;
  }

  // 팝업을 닫는 함수
  function closePopup() {
    const popupContainer = document.getElementById("popupContainer");
    popupContainer.style.display = "none";
  }

  function togglePopup() {
    const popupContainer = document.getElementById("popupContainer");
    const toggleSwitch = document.getElementById("toggleSwitch");

    if (toggleSwitch.checked) {
    } else {
    }
  }

  function saveInfo() {
    // select 박스의 값을 가져오기
    const selectedGroup = document.getElementById("group").value;

    // 토글 버튼의 상태 가져오기
    const toggleSwitch = document.getElementById("toggleSwitch");
    if (toggleSwitch.checked == 1) {
      isActive = 1;
    } else {
      isActive = 0;
    }
    fetch("/changeInfo", {
      method: "POST",
      headers: {
        "Content-Type": "application/json",
      },
      body: JSON.stringify({ selectedGroup, isActive, user: currentUser }),
    })
      .then((response) => response.json())
      .then((data) => {
        console.log(data);
        if (data.error) {
          alert("시스템 에러");
        } else if (data.result) {
          alert("정보 변경 완료");
          window.location.reload();
        } else if (!data.result) {
          alert("정보 변경 실패.");
        }
      });
  }

  // 버튼 클릭 시 모달 표시
  const modalButton = document.getElementById("user-name");
  const modal = document.getElementById("userInfoModal");
  const closeModalButton = document.getElementById("closeModal");
  const logoutButton = document.getElementById("logoutButton");

  modalButton.addEventListener("click", function () {
    modal.style.display = "block";
  });

  // 모달 닫기 버튼 클릭 시 모달 숨김
  closeModalButton.addEventListener("click", function () {
    modal.style.display = "none";
  });

  // 로그아웃 버튼 클릭 시 로그아웃 처리 (예: 페이지 리로드)
  logoutButton.addEventListener("click", function () {
    // 로그아웃 처리를 여기에 추가
    // 예: window.location.href = '/logout';  // 로그아웃 URL로 리다이렉트
  });

  // 모달 외부 클릭 시 모달 숨김
  window.addEventListener("click", function (event) {
    if (event.target === modal) {
      modal.style.display = "none";
    }
  });
</script>
