<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Project List</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles/title.css')}}"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles/projectlist.css')}}"/>

    <script type="text/javascript" src="{{ url_for('static', filename='js/userManagement.js')}}"></script>
  </head>
  <script>
    let loginUserInfo = "{{ loginUserInfo }}";
    if(loginUserInfo) {
      localStorage.setItem("loginUserInfo", loginUserInfo);
    }
  </script>
  <body>
    <div id="title" class="title">
      <h2><a class="home" href="">EdgeCPS Service Modeler</a></h2>
      <div class="userInfo">
        <div class="user-name" id="user-name">
          <button class="user-name-background">{{ userName }}</button>
        </div>
      </div>
    </div>

    <div class="container">
      <div style="float: right">
        <div
          class="nav-links d-flex justify-content-between align-items-center mt-3"
        ></div>
      </div>

      <div class="d-flex justify-content-between align-items-center">
        <h2 class="mt-5" style="padding-bottom: 20px">Project List</h2>
        <a href="{{ url_for('overview_process', newPj=true)}}" class="btn btn-primary" style="margin-top: 60px; background-color: #2e5686">Create Project</a>
      </div>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>ID</th>
            <th>Project Name</th>
            <th>작성자</th>
            <th>수정 날짜</th>
            <th style="text-align: center">삭 제</th>
            <th style="text-align: center">열 기</th>
          </tr>
        </thead>
        <tbody>
          {% for project in projects %}
          <tr>
            <td>{{ project.id }}</td>
            <td>{{ project.name }}</td>
            <td>{{ project.user }}</td>
            <td>{{ project.create_date }}</td>
            <td style="text-align: center">
              <form method="post" action="{{ url_for('delete_project', project_id=project.id) }}">
                <button type="submit" style="border: none; outline: none; background: none">
                  <img src="{{url_for('static', filename='/image/delete.svg')}}" alt="Image" class="img-fluid"/>
                </button>
              </form>
            </td>
            <td style="text-align: center">
              <form method="post" action="{{ url_for('open_process', project_id=project.id, project_name=project.name,project_user=project.user ) }}">
                <button type="submit" class="btn btn-primary btn-sm" style="background-color: #2d3a8a">
                  Open
                </button>
              </form>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      <div style="position: fixed; bottom: 0; left: 0; width: 100%; margin-bottom: 80px;"class="d-flex justify-content-center mt-4">
        {{ pagination.links }}
      </div>
    </div>

    <div class="modal" id="userInfoModal">
      <div class="usermodal-content">
        <span class="close" id="closeModal">&times;</span>
        <h2>내 정보</h2>
        <p>아이디 : {{userIds}}</p>
        <p>이름 : {{userName}}</p>
        <p>이메일 : {{userEmail}}</p>
        <p>소속 : {{userGroup}}</p>
        {% if userAdmin == 1 %}
        <a class="nav-link" href="{{ url_for('management_user') }}">회원 관리</a>
        {% endif %}
        <a class="nav-link" href="{{ url_for('logout') }}">로그아웃</a>
      </div>
    </div>
  </body>

</html>